@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://pro2-bar-s3-cdn-cf.myportfolio.com/4d29a4ffc41663d7f15cc554c9e98126/81a56448f778080e29579b0be1f98e6e0fb77bfdee268ef992fd81a3434936ecb0b3ef0acd8dc3c9.gif?h=c872a6f4c0583d8895277913040b1681);
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
}

.container {
  z-index: 1;
  width: 70%;
  margin: 0 auto;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.2);
    padding: 2%;
    box-shadow: 0px 10px 6px -8px rgba(0,0,0,0.75);
    
}
.board {
    column-count: 3;
    column-gap: 1rem;
    
}
.container h2 {
    margin: 0 0 30px;
    text-align: center;
}
img#flag {
    height: 25px;
    width: 25px;
}
.card {
    width: 84%;
    background: #ccc;
    padding: 8%;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #fff;
}
.card.a {
    background: url(https://i.makeagif.com/media/12-21-2015/EgD1hy.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.card.cr {
    background: #ff3434;
}
.card.r {
    background: #32b336;
}
.card.ca {
    background: #d83f3f;
}
.card.d {
    background: #ff0053;
}
.card.t {
    background: #ffa501;
}
.card h5 {
    margin: 0;
    font-size: 1rem;
}
.card span {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
}
.card i {
    font-size: 3rem;
}
@media screen and (max-width: 768px){
  .board {
    column-count: 2;
  }
  .card span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px){
  .board {
    column-count: 1;
  
  }
   .container{
    margin-top: 650px;
    margin-bottom: 30px;
  }

}
@media screen and (max-width: 375px){
  .board {
    column-count: 1;
  
  }
   .container{
    margin-top: 700px;
    margin-bottom: 30px;
  }

}
@media screen and (max-width: 384px){
  .board {
    column-count: 1;
  
  }
   .container{
    margin-top: 750px;
    margin-bottom: 30px;
  }

}

